.userIdentification {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
}

.occupation {
  margin-left: 100px;
  color: #95A5A6;
}

.profilePicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center center;
  float: left;
}

.profilePicturePlaceholderText {
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  font-size: 4em;
  color: white;
}

.cardBackground {
  background-color: white;
  border-color: black;
  border-width: 5px;
  border-radius: 15px;
  border-style: solid;
  width: 330px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.cardContainer {
  padding: 5px;
}

.stats {
  margin-left: 200px;
}

.statsText {
  text-align: right;
  margin-right: 20px;
}

.impressionsNumber, .conversionsNumber {
  margin: 0px;
}

.impressionsNumber {
  color: #e47e30;
}

.conversionsNumber {
  color: #2f81b7;
}

.impressionsAndConversionsLabels {
  color: lightGray;
}

.revenue {
  color: #30ad63;
}

.chart {
  padding-top: 10px;
  padding-left: 10px;
  width: 170px;
  height: 60px;
  float: left;
}

.conversionsDateRange {
  text-align: center;
  padding-top: 5px;
}

body {
  background: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 30px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0;
}

h1 {
  font-size: 1.8em;
  color: #2d3e4f;
  padding-top: 15px;
  margin-left: 90px;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
  color: grey;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
